main {
	display: grid;
	gap: 1.5em;
	font-size: min(4cqw, 2rem);
}

p {
	font-size: 3.5cqw;
	text-align: left;
}

.btn {
	padding: .3125rem .75rem;
	border: 0;
	border-radius: var(--border-rad);
	background-color: var(--primary-clr);
	color: var(--btn-txt-clr);
	font-size: 1em;
	cursor: pointer;
}

.currency {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;

	&::after {
		position: absolute;
		right: 0;
		bottom: 0;
		width: calc(100% - 5em);
		border-bottom: 1px solid var(--primary-clr);
		content: '';
	}

	select {
		appearance: none;
		padding: .625em 1.25em .625em .625em;
		border: .05em solid var(--accent-clr);
		border-radius: var(--border-rad);
		background: transparent;
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
		background-position: right .4em top 50%, 0, 0;
		background-size: .75em auto, 100%;
		background-repeat: no-repeat;
		color: var(--primary-txt-clr);
		font-size: 1em;
	}

	input {
		width: 50%;
		border: 0;
		background: transparent;
		font-size: 1.875em;
		text-align: right;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
			margin: 0;
		}

		&[type=number] {
			appearance: textfield;
		}
	}
}

.swap-rate-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.swap-ctrl-container {
	display: grid;
	place-items: center;
	gap: .75em;
	color: var(--primary-clr);
}

.swap-btn {
	min-width: 4.3em;
}

.arrow {
	aspect-ratio: 1/1;
	width: 1em;
}

.rate {
	color: var(--primary-clr);
	font-size: 1em;
}